
@{
    ViewBag.Title = "GetInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetInfo</h2>
@using (Html.BeginForm())
{
    <input type="text" name="HoTenSV" />
    <input type="text" name="Tuoi" />
    <input type="text" name="Lop" />
}
<h3></h3>
